<div id="<%= dom_id(task) %>" class="flex p-6 justify-between rounded-lg shadow-md bg-white hover:scale-105 transform transition-all duration-300 ease-in-out animate-fade-in" data-controller="inline-edit">
 <div class="flex flex-shrink-0 mr-4 align-center justify-center">
  <!-- Checkbox for Task Completion -->
 <%= form_with url: toggle_complete_task_path(task), method: :patch, data: { turbo: true }, class: "inline" do %>
  <label class="flex items-center space-x-2 cursor-pointer select-none mt-1">
    <input type="checkbox"
           name="completed"
           value="1"
           <%= "checked" if task.completed %>
           onchange="this.form.submit()"
           class="peer appearance-none h-5 w-5 border border-gray-300 rounded checked:bg-green-500 checked:border-green-500 focus:ring focus:ring-green-300 transition-all duration-200" />
    <span class="pointer-events-none absolute w-5 h-5 flex items-center justify-center">
      <svg class="hidden peer-checked:block w-4 h-4 text-white" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"/>
      </svg>
    </span>
  </label>
<% end %>
  <!-- Task Title -->
  <div data-inline-edit-target="display" class="<%= 'line-through text-gray-400' if task.completed %> text-lg cursor-pointer" data-action="click->inline-edit#toggle">
    <%= task.title %>
  </div>
  <!-- Inline Edit Form -->
  <%= form_with(model: task, data: { inline_edit_target: "form", action: "submit->inline-edit#submit" }, class: "flex hidden") do |f| %>
    <%= f.text_field :title, class: "border rounded p-1", data: { inline_edit_target: "input" } %>
    <%= f.submit "Save", class: "ml-2 px-2 py-1 bg-green-500 text-white rounded hover:bg-green-600 transition-all duration-300" %>
  <% end %>

 </div>  
  <!-- Actions -->
  <div class="flex space-x-2">
    <%= button_to '🗑️', remove_task_task_path(task), method: :delete, class: "text-red-500 text-sm cursor-pointer" %>
  </div>
</div>
